<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">

    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'css/style.css')}" media="all">

    <f:flashMessages />

    <h1 class="mt-2"><f:translate key="ispm.show.objects.headline" />:</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <f:translate key="tx_ispm_domain_model_imoobjects.city" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imoobjects.street" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imoobjects.postalcode" />
                </th>
                <th><f:translate key="ispm.table.actions" /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {imoObject.city}
                </td>
                <td>
                    {imoObject.street}
                </td>
                <td>
                    {imoObject.streetnumber}
                </td>
                <td>
                    {imoObject.postalcode}
                </td>
                <td>
                    <f:link.action action="editObject" arguments="{imoObject: imoObject}" class="btn btn-primary btn-sm"><f:translate key="ispm.button.edit" /></f:link.action>
                    <f:link.action action="deleteObject" arguments="{imoObject: imoObject}" class="btn btn-danger btn-sm"><f:translate key="ispm.button.delete" /></f:link.action>
                </td>
            </tr>
        </tbody>
    </table>
    <f:link.action action="newUnit" arguments="{imoObject: imoObject}" class="btn btn-default mb-2">
        <f:translate key="ispm.unit.button.create" />
    </f:link.action>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <f:translate key="tx_ispm_domain_model_imounits.chiffre" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imounits.number" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imounits.placeholder" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imounits.offer" />
                </th>
                <th>
                    <f:translate key="ispm.user" />
                </th>
                <th><f:translate key="ispm.table.actions" /></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{imoUnits}" as="imoUnit">
                <tr>
                    <td>{imoUnit.chiffre}</td>
                    <td>{imoUnit.number}</td>
                    <td>{imoUnit.placeholder}</td>
                    <td>{imoUnit.offer}</td>
                    <td>{imoUnit.userName}</td>
                    <td>
                        <f:link.action action="editUnit" arguments="{imoUnit: imoUnit, imoObject: imoObject}" class="btn btn-primary btn-sm">
                            <f:translate key="ispm.button.edit" />
                        </f:link.action>
                        <f:link.action action="chiffreLog" arguments="{imoUnit: imoUnit, imoObject: imoObject}" class="btn btn-primary btn-sm">
                            <f:translate key="ispm.button.chiffrelog" />
                        </f:link.action>
                        <f:link.action action="deleteUnit" arguments="{imoUnit: imoUnit, imoObject: imoObject}" class="btn btn-danger btn-sm">
                            <f:translate key="ispm.button.delete" />
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>

</html>