<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="form-group">
		<label for="postalcode"><f:translate key="tx_ispm_domain_model_imoobjects.postalcode" /></label>
		<f:form.textfield class="form-control" property="postalcode" id="postalcode" />
	</div>
	<div class="form-group">
		<label for="city"><f:translate key="tx_ispm_domain_model_imoobjects.city" /></label>
		<f:form.textfield class="form-control" property="city" id="city" />
	</div>
	<div class="form-group">
		<label for="state"><f:translate key="tx_ispm_domain_model_imoobjects.state" /></label>
		<f:form.textfield class="form-control" property="state" id="state" />
	</div>
	<div class="form-group">
		<label for="street"><f:translate key="tx_ispm_domain_model_imoobjects.street" /></label>
		<f:form.textfield class="form-control" property="street" id="street" />
	</div>
	<div class="form-group">
		<label for="streetnumber"><f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" /></label>
		<f:form.textfield class="form-control" property="streetnumber" id="streetnumber" />
	</div>
</html>