<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <h1>Object</h1>
    <div class="navigation">
        <f:link.action action="show" arguments="{object: object}">Back</f:link.action>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.city" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.street" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.postalcode" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{object.city}</td>
                <td>{object.street}</td>
                <td>{object.streetnumber}</td>
                <td>{object.postalcode}</td>
                <td>
                    <f:link.action action="show" arguments="{object: object}">Show</f:link.action>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>Edit Unit</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="updateUnit" name="imoUnits" object="{imoUnits}">
        <f:form.hidden name="object" value="{object}" />
        <f:render partial="ImoUnits/FormFields" arguments="{imoUnits: imoUnits}" />
        <f:form.submit value="Save" class="btn btn-primary" />
    </f:form>

</f:section>

</html>