<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    
    <f:flashMessages />

    <h1>Objects</h1>
    <div class="navigation">
        <f:link.action action="newObject">New Object</f:link.action>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.postalcode" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.state" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.city" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.street" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{objects}" as="objects" iteration="iterator">
                <tr>
                    <th scope="row">{iterator.index + 1}</th>
                    <td>{objects.postalcode}</td>
                    <td>{objects.state}</td>
                    <td>{objects.city}</td>
                    <td>{objects.street}</td>
                    <td>{objects.streetnumber}</td>
                    <td>
                        <f:link.action action="show" arguments="{object : objects}">Show</f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>

</html>