<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    
    <f:section name="Main">

    <div class="row">
        <div class="col-12 col-md-6">
            <p>Hallo Interessent, Sie interessieren sich für das Gebot Ihres Objektes.</p>
            <p>Unter der Chiffre {r.imoUnit.chiffre} wurden vom Bieter folgende Daten hinterlegt.</p>
    
            <hr>
            <p>
                {r.imoUnit.placeholder}<br>
                {r.imoObject.street} {r.imoObject.streetnumber}<br>
                {r.imoObject.postalcode} {r.imoObject.city}<br>
                {r.imoObject.state}
            </p>
    
            <hr>
            
            <f:if condition="{r.imoUnit.offer}">
                <f:then>
                    <p>
                        Dazu wurde ein Gebot in Höhe von 
                        <b>    
                            {r.imoUnit.offer} EUR 
                        </b>
                        hinterlegt.
                    </p>
                </f:then>
            </f:if>
        </div>
        
        <div class="col-12 col-md-6">
            <p>
                Bitte geben Sie Ihre Kontaktdaten an, um mit dem Bieter in Kontakt treten zu können.
            </p>

            <h3>Kontakt Form</h3>
            <f:form action="saveUserData" name="userData">
                <f:form.hidden property="chiffre" name="chiffre" value="{r.imoUnit.chiffre}" />
                <f:form.hidden property="unitnr" name="unitnr" value="{r.imoUnit.uid}" />
                <f:form.hidden property="objectnr" name="objectnr" value="{r.imoObject.uid}" />
                <f:render partial="UserData/FormFields" />
                <div class="d-grid mt-3">
                    <f:form.submit value="{f:translate(key: 'fe.ispm.form.button.send')}" class="btn btn-warning btn-lg" />
                </div>
            </f:form>

        </div>
    </div>
        
    </f:section>

</html>