<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <h1>Object</h1>

    <div class="navigation">
        <f:link.action action="list">Objects</f:link.action>
        |
        <f:link.action action="newObject">New Object</f:link.action>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.postalcode" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.state" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.city" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.street" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{object.postalcode}</td>
                <td>{object.state}</td>
                <td>{object.city}</td>
                <td>{object.street}</td>
                <td>{object.streetnumber}</td>
                <td>
                    <f:link.action action="editObject" arguments="{object: object}">Edit</f:link.action>
                </td>
                <td>
                    <f:link.action action="deleteObject" arguments="{object: object}" onclick="return confirm('Sind Sie sicher, dass Sie dieses Objekt löschen möchten?');">Delete</f:link.action>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>Units</h1>
    <f:link.action action="newUnit" arguments="{newImoObjects: object}">New Unit</f:link.action>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imounits.chiffre" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imounits.number" />
                </th>
                <th>
                    <f:translate key="tx_ispm_domain_model_imounits.placeholder" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{imoUnits}" as="imoUnits" iteration="iterator">
                <tr>
                    <th scope="row">{iterator.index + 1}</th>
                    <td>{imoUnits.chiffre}</td>
                    <td>{imoUnits.number}</td>
                    <td>{imoUnits.placeholder}</td>
                    <td>
                        <f:link.action action="editUnit" arguments="{imoUnits: imoUnits, object: object}">Edit</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="deleteUnit" arguments="{imoUnits: imoUnits, object: object}" onclick="return confirm('Sind Sie sicher, dass Sie diese Einheit löschen möchten?');">Delete</f:link.action>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>

</html>