<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

        <div class="container mt-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">Vielen Dank für Ihr Interesse!</h1>
                    <p class="card-text">Wir haben Ihre Anfrage erfolgreich erhalten. Auf Grundlage der von Ihnen eingegebenen Daten wurde Ihr Interesse an unserem Angebot registriert.</p>
                    <h2 class="mt-4">Was passiert als Nächstes?</h2>
                    <p class="card-text">Wir werden uns zeitnah bei Ihnen unter <a>{userData.email}</a> melden, um alle weiteren Details zu besprechen und das Angebot gemeinsam zu finalisieren.</p>
                    <div class="mt-4">
                        <p>Falls Sie Fragen haben, können Sie uns jederzeit per eMail unter <a href="mailto:office@mediagear.de">office@mediagear.de</a> erreichen.</p>
                    </div>
                    <p class="card-text mt-3">Vielen Dank, <f:translate key="fe.ispm.{userData.salutation}" /> {userData.surname} – wir freuen uns darauf, Ihnen weiterzuhelfen!</p>
                </div>
            </div>
        </div>
        
</html>