<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <f:flashMessages />

    <h1>Edit Object</h1>

    <div class="navigation">
        <f:link.action action="show" arguments="{object: object}">Back</f:link.action>
    </div>
    <f:render partial="FormErrors" />

    <f:form action="updateObject" name="object" object="{object}">
        <f:form.hidden name="object" value="{object}" />
        <f:render partial="ImoObjects/FormFields" arguments="{ImoObjects: object}" />
        <f:form.submit value="Save" class="btn btn-primary" />
    </f:form>

    <script type="text/javascript">
        var postalcodes = {postalcodesJson -> f:format.raw()};
    </script>

</f:section>

</html>