<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <h1>New Object</h1>
    <div class="navigation">
        <f:link.action action="list">Objects</f:link.action>
    </div>
    <f:render partial="FormErrors" />
    <f:flashMessages />
    <f:form action="newUnit" name="newImoObjects" object="{newImoObjects}">
        <f:render partial="ImoObjects/FormFields" />
        <div class="button-con">
            <f:form.submit value="Create new" class="btn btn-primary" />
        </div>
    </f:form>

    <script type="text/javascript">
        let postalcodes = {postalcodesJson -> f:format.raw()};
    </script>

</f:section>

</html>