<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <h1>Object</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.city" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.street" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.streetnumber" />
                </th>
                <th scope="col">
                    <f:translate key="tx_ispm_domain_model_imoobjects.postalcode" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{object.city}</td>
                <td>{object.street}</td>
                <td>{object.streetnumber}</td>
                <td>{object.postalcode}</td>
            </tr>
        </tbody>
    </table>   
    
    <h1>New Unit</h1>
    <f:render partial="FormErrors" />
    <f:flashMessages />
    <f:form action="createUnit" name="newImoUnit" object="{newImoUnit}">
        <f:form.hidden name="objectUid" value="{object.uid}" />
        <f:render partial="ImoUnits/FormFields" />
        <div class="button-con">
            <f:form.submit value="Create new" class="btn btn-primary" />
        </div>
    </f:form>
    
</f:section>

</html>