<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<div class="form-group">
	<label for="placeholder"><f:translate key="tx_ispm_domain_model_imounits.number" /></label>
	<f:form.textfield class="form-control" property="number" id="number" /><br />
</div>
<div class="form-group">
	<label for="placeholder"><f:translate key="tx_ispm_domain_model_imounits.placeholder" /></label>
	<f:form.textfield class="form-control" property="placeholder" id="placeholder" /><br />
</div>

</html>